fastapi
uvicorn
python-dotenv
google-generativeai
PyPDF2
pymupdf
openai
python-multipart
python-fasthtml
Pillow
numpy
asyncio
concurrent-log-handler
shad4fast
requests
pydantic-settings
websocket-client
pysocks
starlette
websockets
pydantic
httpx
aiortc
faiss-cpu
tenacity
